@use '@angular/material' as mat;
@include mat.core();
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$blue-palette,
      density: 0,
    )
  );
  @include mat.form-field-density(-5)
}


.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
  border-right-style: hidden;
}